* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$main-font: "Exo 2";
$additional-font: "PT Sans";

$main-color: #363738;
$additional-color: #6b6b6c;
$yellow: #ffce50;
$green: #0b7572;

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  margin-top: 110px;
  display: flex;
  align-items: center;
  gap: 0 20px;

  .hero-left {
    max-width: 610px;

    h1 {
      font-family: $main-font;
      font-style: normal;
      font-weight: 600;
      font-size: 52px;
      line-height: 125%;
      /* or 65px */

      /* main font */

      color: $main-color;
    }

    p {
      margin: 40px 0 40px 0;
      font-family: $additional-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */

      /* additional font */

      color: $additional-color;
    }

    a {
      text-decoration: none;
      font-family: $additional-font;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */

      /* main font */

      color: $main-color;
      border-bottom: 3px solid $yellow;
      padding-bottom: 5px;
    }
  }

  .hero-right {
    max-width: 635px;
    // border-bottom-right-radius: 25px;
    .desktop-img {
      display: block;
    }
    .tablet-img {
      display: none;
    }
    .mobile-img {
      display: none;
    }
  }
}

.process {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 67px;
  margin-bottom: 100px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 40px 65px 56px 80px;
  //   gap: 0 110px;
  .process-item {
    display: flex;
    flex-direction: column;
    max-width: 228px;
    h3 {
      font-family: $main-font;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 135%;
      /* or 27px */

      /* main font */

      color: $main-color;
      margin-top: 24px;
      margin-bottom: 16px;
    }
    p {
      font-family: $additional-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */

      /* additional font */

      color: $additional-color;
    }
    &:nth-child(2),
    &:nth-child(3) {
      padding-left: 64px;
      max-width: 292px;
      border-left: 1px solid #d7d7dd;
    }
    &:nth-child(1),
    &:nth-child(2) {
      padding-right: 25px;
    }
    &:nth-child(1) {
      max-width: 255px;
    }
    &:nth-child(2) {
      max-width: 317px;
    }
  }
}

.sphere {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  h2 {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 125%;
    /* or 60px */

    /* main font */

    color: $main-color;
  }
  p {
    font-family: $additional-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    margin-top: 32px;
    margin-bottom: 40px;
    /* additional font */
    max-width: 667px;
    color: $additional-color;
  }

  .sphere-grid {
    display: flex;
    gap: 0 140px;
    .sphere-left {
      display: flex;
      flex-direction: column;
      gap: 16px 0;
      .sphere-item {
        max-width: 687px;
        label {
          border: 1px solid transparent;
          display: flex;
          align-items: flex-start;
          gap: 0 30px;
          padding: 48px 120px 48px 40px;
          background: #ffffff;
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
          border-radius: 10px;
          cursor: pointer;

          h3 {
            font-family: $main-font;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            /* or 30px */
            margin-top: -6px;
            /* main font */

            color: $main-color;
          }

          p {
            font-family: $additional-font;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            /* or 24px */

            /* additional font */
            margin-top: 24px;
            margin-bottom: 0;
            color: $additional-color;
          }

          .circle {
            width: 29px;
            height: 21px;
            border-radius: 50%;
            background: #ffffff;
            border: 1px solid #cbcbcd;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            u {
              width: 10px;
              height: 9px;
              border-radius: 50%;
              background-color: $green;
              display: none;
            }
          }
        }

        #one:checked ~ label .circle u,
        #two:checked ~ label .circle u,
        #three:checked ~ label .circle u {
          display: block;
        }

        #one:checked ~ label,
        #two:checked ~ label,
        #three:checked ~ label {
          border: 1px solid #0b7572;
        }
        input[type="radio"] {
          display: none;
        }
      }
    }

    .sphere-right {
      display: flex;
      flex-direction: column;
      gap: 8px 0;
      strong {
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        /* or 30px */

        /* main font */

        color: $main-color;
      }

      span {
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 54px;
        line-height: 150%;
        /* or 81px */
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.3em;

        /* main font */

        color: $main-color;
        border-bottom: 3px solid $yellow;
        padding-bottom: 19px;
        .sphere-right-inner-span {
          font-family: $additional-font;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 260%;
          /* or 81px */
          border-bottom: none;
          padding-bottom: 0;

          /* main font */

          color: $additional-color;
        }
      }
    }
  }
}

.why-us {
  margin-bottom: 120px;
  h2 {
    display: none;
  }
  header {
    background-image: url(/images/why-us-img.png);
    height: 483px;
    background-size: cover;

    position: relative;
    &::before {
      content: "";
      position: absolute;

      width: 360px;
      height: 0px;
      border-left: 0px solid transparent;
      border-right: 300px solid transparent;
      border-bottom: 483px solid $green;
    }

    &::after {
      content: "Почему с нами выгоднее?";
      position: absolute;
      font-family: $main-font;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 125%;
      text-align: left;
      /* or 60px */
      max-width: 362px;
      /* white */
      top: 50%;
      transform: translateY(-50%);
      left: 90px;
      color: #fff;
    }
  }

  .why-us-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 62px 60px;
    margin-top: 72px;
    margin-left: 50px;
    .why-us-item {
      display: flex;
      align-items: center;
      gap: 0 40px;
      .why-us-text {
        max-width: 291px;
        h4 {
          font-family: $main-font;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 135%;
          /* or 27px */

          /* main font */
          margin-bottom: 16px;
          color: $main-color;
        }
        p {
          font-family: $additional-font;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          /* or 24px */

          /* additional font */

          color: $additional-color;
        }
      }
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  margin-bottom: 212px;
  h2 {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 125%;
    /* or 60px */

    /* main font */

    color: $main-color;
  }
  p {
    font-family: $additional-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    max-width: 667px;
    /* additional font */
    margin-top: 32px;
    margin-bottom: 56px;
    color: $additional-color;
  }

  .services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 30px;
    .services-item {
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .services-tablet-1, .services-tablet-2, .services-mobile{
        display: none;
      }
      .services-text {
        margin-left: 32px;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h3 {
          font-family: $main-font;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 135%;
          /* or 27px */

          margin-top: 24px;
          margin-bottom: 16px;
          /* main font */

          color: $main-color;
        }
        span {
          font-family: $additional-font;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          /* or 24px */
          margin-bottom: 32px;
          /* additional font */
          max-width: 291px;
          color: $additional-color;
        }
        strong {
          font-family: $main-font;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 135%;
          /* or 22px */
            padding-bottom: 5px;
            border-bottom: 3px solid #FFCE50;
          /* main font */

          color: $main-color
          
        }
      }
    }
  }
}

@media only screen and (max-width: 984px) {
  .hero {
    display: flex;
    flex-direction: column;
    gap: 72px 0;
    .hero-left {
      max-width: 690px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1 {
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 125%;
        /* or 55px */

        text-align: center;

        /* main font */

        color: $main-color;
      }

      p {
        font-family: $additional-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */

        text-align: center;

        /* additional font */

        color: $additional-color;
        margin-top: 48px;
        margin-bottom: 44px;
      }

      a {
        font-family: $additional-font;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */

        /* main font */

        color: $main-color;
      }
    }

    .hero-right {
      max-width: 100%;
      // border-bottom-right-radius: 25px;

      .desktop-img {
        display: none;
      }
      .tablet-img {
        display: block;
        width: 100%;
      }
    }
  }

  .process {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    margin-top: 41px;
    margin-bottom: 88px;
    box-shadow: none;
    border-radius: none;
    padding: 0;
    .process-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0 32px;
      max-width: 690px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
      border-radius: 20px;
      padding: 32px 140px 40px 32px;
      h3 {
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 135%;
        /* or 27px */

        /* main font */

        color: $main-color;
        margin-top: 0px;
        margin-bottom: 20px;
      }
      p {
        font-family: $additional-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */

        /* additional font */

        color: $additional-color;
      }
      &:nth-child(2),
      &:nth-child(3) {
        padding: 32px 140px 40px 32px;
        max-width: 100%;
        border-left: none;
      }
      &:nth-child(1),
      &:nth-child(2) {
        padding: 32px 140px 40px 32px;
      }
      &:nth-child(1) {
        max-width: 100%;
      }
      &:nth-child(2) {
        max-width: 100%;
      }
      .process-text {
        max-width: 394px;
      }
    }
  }

  .sphere {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 88px;
    h2 {
      font-family: $main-font;
      font-style: normal;
      font-weight: 600;
      font-size: 44px;
      line-height: 125%;
      /* or 60px */

      /* main font */

      color: $main-color;
    }
    p {
      font-family: $additional-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */
      margin-top: 32px;
      margin-bottom: 48px;
      /* additional font */
      max-width: 667px;
      color: $additional-color;
    }

    .sphere-grid {
      display: flex;
      flex-direction: column;
      gap: 0 0px;
      .sphere-left {
        display: flex;
        flex-direction: column;
        gap: 16px 0;
        .sphere-item {
          max-width: 690px;
          label {
            border: 1px solid transparent;
            display: flex;
            align-items: flex-start;
            gap: 0 32px;
            padding: 40px 70px 48px 40px;
            background: #ffffff;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
            border-radius: 10px;
            cursor: pointer;

            h3 {
              font-family: $main-font;
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 150%;
              /* or 30px */
              margin-top: -6px;
              /* main font */

              color: $main-color;
            }

            p {
              font-family: $additional-font;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 150%;
              /* or 24px */

              /* additional font */
              margin-top: 24px;
              margin-bottom: 0;
              color: $additional-color;
            }

            .circle {
              width: 45px;
              height: 25px;
              border-radius: 50%;
              background: #ffffff;
              border: 1px solid #cbcbcd;
              box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
              display: flex;
              align-items: center;
              justify-content: center;
              u {
                width: 10px;
                height: 9px;
                border-radius: 50%;
                background-color: $green;
                display: none;
              }
            }
          }

          #one:checked ~ label .circle u,
          #two:checked ~ label .circle u,
          #three:checked ~ label .circle u {
            display: block;
          }

          #one:checked ~ label,
          #two:checked ~ label,
          #three:checked ~ label {
            border: 1px solid #0b7572;
          }
          input[type="radio"] {
            display: none;
          }
        }
      }

      .sphere-right {
        display: flex;
        flex-direction: column;
        gap: 8px 0;
        display: none;
        strong {
          font-family: $main-font;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 150%;
          /* or 30px */

          /* main font */

          color: $main-color;
        }

        span {
          font-family: $main-font;
          font-style: normal;
          font-weight: 600;
          font-size: 54px;
          line-height: 150%;
          /* or 81px */
          display: flex;
          align-items: flex-end;
          letter-spacing: 0.3em;

          /* main font */

          color: $main-color;
          border-bottom: 3px solid $yellow;
          padding-bottom: 39px;
          .sphere-right-inner-span {
            font-family: $additional-font;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 260%;
            /* or 81px */
            border-bottom: none;
            padding-bottom: 0;

            /* main font */

            color: $additional-color;
          }
        }
      }
    }
  }

  .why-us {
    margin-bottom: 100px;
    width: 100%;
    header {
      background-image: url(/images/why-us-tablet.png);
      height: 383px;
      background-size: cover;

      position: relative;
      &::before {
        content: "";
        position: absolute;

        width: 290px;
        height: 0px;
        border-left: 0px solid transparent;
        border-right: 240px solid transparent;
        border-bottom: 383px solid $green;
      }

      &::after {
        content: "Почему с нами выгоднее?";
        position: absolute;
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 125%;
        /* or 60px */
        max-width: 334px;
        /* white */
        top: 50%;
        transform: translateY(-50%);
        left: 32px;
        color: #fff;
      }
    }

    .why-us-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 48px 0px;
      margin-top: 48px;
      margin-left: 0px;
      .why-us-item {
        display: flex;
        align-items: center;
        gap: 0 48px;
        .why-us-text {
          max-width: 394px;
          h4 {
            font-family: $main-font;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 135%;
            /* or 27px */

            /* main font */
            margin-bottom: 16px;
            color: $main-color;
          }
          p {
            font-family: $additional-font;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            /* or 24px */

            /* additional font */

            color: $additional-color;
          }
        }
        img {
          width: 88px;
          height: 88px;
        }
      }
    }
  }





  .services {
    display: flex;
    flex-direction: column;
    margin-bottom: 172px;
    h2 {
      font-family: $main-font;
      font-style: normal;
      font-weight: 600;
      font-size: 44px;
      line-height: 125%;
      /* or 60px */
  
      /* main font */
  
      color: $main-color;
    }
    p {
      font-family: $additional-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */
      max-width: 667px;
      /* additional font */
      margin-top: 32px;
      margin-bottom: 56px;
      color: $additional-color;
    }
  
    .services-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 32px 0px;
      .services-item {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .services-1, .services-2{
            display: none;
        }
        .services-tablet-1,.services-tablet-2{
            display: block;
            width: 100%;
            object-fit: contain;
            
        }
        &:last-child{
            display: none;
        }

        .services-text {
          margin-left: 32px;
          margin-bottom: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-right: 10px;
          h3 {
            font-family: $main-font;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 135%;
            /* or 27px */
  
            margin-top: 24px;
            margin-bottom: 16px;
            /* main font */
  
            color: $main-color;
          }
          span {
            font-family: $additional-font;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            /* or 24px */
            margin-bottom: 32px;
            /* additional font */
            max-width: 519px;
            color: $additional-color;
          }
          strong {
            font-family: $main-font;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 135%;
            /* or 22px */
              padding-bottom: 5px;
              border-bottom: 3px solid #FFCE50;
            /* main font */
  
            color: $main-color
            
          }
        }
      }
    }
  }








}

@media only screen and (max-width: 730px) {
  .sphere {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 88px;
  }
}

@media only screen and (max-width: 571px) {
  .why-us {
    margin-bottom: 100px;
    width: 100%;
    h2 {
      display: block;
      font-family: $main-font;
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 125%;
      /* or 35px */
      /* main font */

      color: $main-color;
      margin-bottom: 48px;
    }
    header {
      background-image: url(/images/why-us-tablet.png);
      height: 383px;
      background-size: cover;
      display: none;

      position: relative;
      &::before {
        content: "";
        position: absolute;

        width: 290px;
        height: 0px;
        border-left: 0px solid transparent;
        border-right: 240px solid transparent;
        border-bottom: 383px solid $green;
      }

      &::after {
        content: "Почему с нами выгоднее?";
        position: absolute;
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 125%;
        /* or 60px */
        max-width: 334px;
        /* white */
        top: 50%;
        transform: translateY(-50%);
        left: 32px;
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 418px) {
  .hero {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
    .hero-left {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      h1 {
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 125%;
        /* or 35px */
        text-align: left;

        color: $main-color;
      }

      p {
        font-family: $additional-font;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        /* or 22px */
        text-align: left;

        color: $main-color;
        margin-top: 32px;
        margin-bottom: 32px;
      }

      a {
        font-family: $additional-font;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 150%;
        /* or 22px */

        color: $main-color;
      }
    }

    .hero-right {
      max-width: 100%;
      // border-bottom-right-radius: 25px;

      .desktop-img {
        display: none;
      }
      .tablet-img {
        display: none;
      }
      .mobile-img {
        display: block;
        width: 100%;
      }
    }
  }

  .process {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    margin-top: 56px;
    margin-bottom: 64px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 24px 27px 32px 32px;
    .process-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px 0px;
      max-width: 690px;
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      h3 {
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 135%;
        /* or 27px */
        max-width: 218px;
        /* main font */

        color: $main-color;
        margin-top: 16px;
        margin-bottom: 12px;
      }
      p {
        font-family: $additional-font;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        /* or 24px */

        /* additional font */

        color: $additional-color;
      }
      &:nth-child(2),
      &:nth-child(3) {
        padding: 0;
        max-width: 100%;
        border-left: none;
      }
      &:nth-child(1),
      &:nth-child(2) {
        padding: 0;
      }
      &:nth-child(1) {
        max-width: 100%;
      }
      &:nth-child(2) {
        max-width: 100%;
      }
      .process-text {
        max-width: 100%;
      }
      img {
        width: 68px;
        height: 68px;
      }
    }
  }

  .sphere {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    h2 {
      font-family: $main-font;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 125%;
      max-width: 345px;
      /* or 60px */
      margin-bottom: 32px;
      /* main font */

      color: $main-color;
    }
    p {
      font-family: $additional-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */
      margin-top: 32px;
      margin-bottom: 48px;
      /* additional font */
      max-width: 667px;
      color: $additional-color;
      display: none;
    }

    .sphere-grid {
      display: flex;
      flex-direction: column;
      gap: 0 0px;
      .sphere-left {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        .sphere-item {
          max-width: 100%;
          label {
            border: 1px solid transparent;
            display: flex;
            align-items: flex-start;
            gap: 0 16px;
            padding: 24px 24px 32px 16px;
            background: #ffffff;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
            border-radius: 10px;
            cursor: pointer;

            h3 {
              font-family: $main-font;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 150%;
              /* or 30px */
              margin-top: -6px;
              /* main font */

              color: $main-color;
            }

            p {
              font-family: $additional-font;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 150%;
              /* or 24px */
              display: block;
              /* additional font */
              margin-top: 16px;
              margin-bottom: 0;
              color: $additional-color;
            }

            .circle {
              width: 34px;
              height: 15px;
              border-radius: 50%;
              background: #ffffff;
              border: 1px solid #cbcbcd;
              box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
              display: flex;
              align-items: center;
              justify-content: center;
              u {
                width: 8px;
                height: 7px;
                border-radius: 50%;
                background-color: $green;
                display: none;
              }
            }
          }

          #one:checked ~ label .circle u,
          #two:checked ~ label .circle u,
          #three:checked ~ label .circle u {
            display: block;
          }

          #one:checked ~ label,
          #two:checked ~ label,
          #three:checked ~ label {
            border: 1px solid #0b7572;
          }
          input[type="radio"] {
            display: none;
          }
        }
      }

      .sphere-right {
        display: flex;
        flex-direction: column;
        gap: 8px 0;
        display: none;
        strong {
          font-family: $main-font;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 150%;
          /* or 30px */

          /* main font */

          color: $main-color;
        }

        span {
          font-family: $main-font;
          font-style: normal;
          font-weight: 600;
          font-size: 54px;
          line-height: 150%;
          /* or 81px */
          display: flex;
          align-items: flex-end;
          letter-spacing: 0.3em;

          /* main font */

          color: $main-color;
          border-bottom: 3px solid $yellow;
          padding-bottom: 39px;
          .sphere-right-inner-span {
            font-family: $additional-font;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 260%;
            /* or 81px */
            border-bottom: none;
            padding-bottom: 0;

            /* main font */

            color: $additional-color;
          }
        }
      }
    }
  }

  .why-us {
    margin-bottom: 100px;
    width: 100%;
    h2 {
      display: block;
      font-family: $main-font;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 125%;
      /* or 35px */
      max-width: 245px;
      /* main font */

      color: $main-color;
      margin-bottom: 48px;
    }
    header {
      background-image: url(/images/why-us-tablet.png);
      height: 383px;
      background-size: cover;
      display: none;

      position: relative;
      &::before {
        content: "";
        position: absolute;

        width: 290px;
        height: 0px;
        border-left: 0px solid transparent;
        border-right: 240px solid transparent;
        border-bottom: 383px solid $green;
      }

      &::after {
        content: "Почему с нами выгоднее?";
        position: absolute;
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 125%;
        /* or 60px */
        max-width: 334px;
        /* white */
        top: 50%;
        transform: translateY(-50%);
        left: 32px;
        color: #fff;
      }
    }

    .why-us-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 38px 0px;
      margin-top: 0px;
      margin-left: 0px;
      .why-us-item {
        display: flex;
        align-items: center;
        gap: 0 16px;
        .why-us-text {
          max-width: 269px;
          h4 {
            font-family: $main-font;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 135%;
            /* or 27px */

            /* main font */
            margin-bottom: 12px;
            color: $main-color;
          }
          p {
            font-family: $additional-font;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 150%;
            /* or 24px */

            /* additional font */

            color: $additional-color;
          }
        }
        img {
          width: 52px;
          height: 52px;
        }
      }
    }
  }





  .services {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    h2 {
      font-family: $main-font;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 125%;
      /* or 60px */
  
      /* main font */
  
      color: $main-color;
    }
    p {
      font-family: $additional-font;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
      /* or 24px */
      max-width: 667px;
      /* additional font */
      margin-top: 24px;
      margin-bottom: 32px;
      color: $additional-color;
    }
  
    .services-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0px 0px;
      .services-item {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .services-1, .services-2{
            display: none;
        }
        &:nth-child(2){
            display: none;
        }
        .services-mobile{
            display: block;
            width: 100%;
            object-fit: contain;
        }
        &:last-child, :nth-child(2){
            display: none;
        }

        .services-text {
          margin-left: 24px;
          margin-bottom: 24px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-right: 6px;
          h3 {
            font-family: $main-font;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 135%;
            /* or 27px */
  
            margin-top: 24px;
            margin-bottom: 16px;
            /* main font */
  
            color: $main-color;
          }
          span {
            font-family: $additional-font;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 135%;
            /* or 24px */
            margin-bottom: 24px;
            /* additional font */
            max-width: 491px;
            color: $additional-color;
            display: block;
          }
          strong {
            font-family: $main-font;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 150%;
            /* or 22px */
              padding-bottom: 5px;
              border-bottom: 3px solid #FFCE50;
            /* main font */
  
            color: $main-color
            
          }
        }
      }
    }
  }







}
